aniso8601==9.0.1
attrs==23.2.0
blinker==1.8.2
build==1.2.1
click==8.1.7
colorama==0.4.6
Flask==3.0.3
flask-restplus==0.13.0
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
MarkupSafe==2.1.5
numpy==1.26.4
packaging==24.0
pandas==2.2.2
py_vncorenlp==0.1.4
pyjnius==1.6.1
pyproject_hooks==1.1.0
python-dateutil==2.9.0.post0
pytz==2024.1
referencing==0.35.1
rpds-py==0.18.1
six==1.16.0
tzdata==2024.1
Werkzeug==3.0.3
